@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Lavishly+Yours&family=Leckerli+One&family=Playwrite+VN:wght@100..400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* CSS start for individual letters */

.word > span:first-of-type:not(.vowels, :only-of-type) {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.word > [class*="Letter"]:nth-of-type(2):not(.vowels) {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

[class*="YLetter"],
.vowels {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

[class*="ILetter"],
[class*="LLetter"],
[class*="NLetter"] {
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-transform: lowercase;
}

[class*="OLetter"] {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
  font-size: 93px;
}

[class*="ELetter"],
.vowels + .vowels {
  font-family: "Lavishly Yours", serif;
  font-weight: 400;
  font-style: normal;
  color: rebeccapurple;
}

[class*="TwoLetter"] {
  font-family: "Leckerli One", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 30px #7532a8;
  color: rgb(195, 0, 130);
}

[class*="TLetter"] {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
  color: #1e0863;
  font-size: 50px;
  text-decoration: dotted underline overline #d5ecf7;
}

[class*="DLetter"] {
  color: dodgerblue;
  font-size: 22px;
  font-family: fantasy;
}

[class*="LLetter"] {
  color: lawngreen;
  font-size: 17px;
  text-shadow: 7px 7px 17px lemonchiffon;
}

[class*="NLetter"] {
  color: navajowhite;
  text-decoration: double line-through underline navy 0.3rem;
  font-size: 19px;
  text-transform: uppercase;
}

[class*="RLetter"] {
  color: #639;
  font-family: "Times New Roman", Times, serif;
  font-size: 44px;
  font-style: italic;
  font-weight: 400;
  text-decoration: dashed line-through rosybrown;
}

[class*="VLetter"] {
  color: violet;
  text-decoration: overline;
  font-size: 37px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

.didDTwoLetter {
  font-size: 30px;
  font-weight: 700;
}

[class*="PLetter"] {
  font-family: monospace;
  font-size: 79px;
  color: rgb(79, 7, 209);
  text-transform: capitalize;
}

.takeKLetter {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 9px;
  font-weight: 900;
  color: khaki;
  text-decoration: wavy underline overline #949 9px;
}

.becauseCLetter {
  font-family: cursive;
  font-size: 73px;
  text-decoration: wavy line-through 3px #7cb;
  color: #bc7;
}

.becauseSLetter {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 55px;
  color: seashell;
  text-decoration: wavy line-through seagreen;
  font-weight: 500;
  text-transform: capitalize;
}

/* SYMBOLS */

.hyphen,
.exclamation-mark,
.question-mark {
  color: honeydew;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
